# Android / Waydroid Support
# ------------------------
# Enables the Binder IPC mechanism and Ashmem required by Waydroid.

CONFIG_STAGING=y
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDERFS=y
# Waydroid expects these specific device nodes
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"
CONFIG_PSI=y
